.deco a {
  text-decoration: none;
  color: white;
}
.back-to-top {
  padding: 7px 12px;
  border: 1px solid rgba(243, 237, 237, 0.961);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 auto;
  transition: all 0.3s;
}

a.back-to-top {
  position: fixed;
  bottom: 18px;
  right: 15px;
  text-decoration: none;
  z-index: #999999;
}

.carousel-inner {
  text-align: center;
}

